@model PRO150PastaPresser.Models.Italian
@{
    ViewBag.Title = "Home Page";
}

<h1>
    Pasta Presser
</h1>

<div class="flex-container">
    <div>
        Upgrades:
        <div id="upgradeCheese">
            <label name="UpgradeCheesePrice">10</label>
            <input type="button" name="UpgradeButton" value="Buy Cheese" class="upBtn" />
        </div>
        <div id="upgradeSauce">
            <label name="UpgradeSaucePrice">10</label>
            <input type="button" name="UpgradeButton" value="Buy Sauce" class="upBtn" />
        </div>
        <div id="upgradePasta">
            <label name="UpgradePastaPrice">10</label>
            <input type="button" name="UpgradeButton" value="Buy Pasta" class="upBtn" />
        </div>
        <div id="upgradeMeat">
            <label id="UpgradeMeatPrice">10</label>
            <input type="button" name="UpgradeButton" value="Buy Meat" class="upBtn" />
        </div>
    </div>
    <div>
        @*<input type="hidden" name="p" value="@Model.Password" />
        <input type="hidden" name="u" value="@Model.Username" />*@
        <div id="LiraCount">
            Lira: <span id="number" class="liraCount">@Model.Lira</span>
        </div>
        <img  id="trash" src="https://66.media.tumblr.com/c60ebc65486d1c75f1429e10ad10066f/tumblr_mod325UaUQ1rzunsjo1_500.png" class="lasagnaImg" />
        <div id="lpsCount">
            LPS: <span id="lpsNum" class="lpsCount">@Model.LPS</span>
        </div>
    </div>
    <div class="playerInfo">
        <span class="title">Player Info:</span>
        <ul class="nobullet">
            <li>Cheese Count: <span id="cheeseCount">@Model.CheeseCount</span></li>
            <li>Sauce Count: <span id="sauceCount">@Model.SauceCount</span></li>
            <li>Pasta Count: <span id="pastaCount">@Model.PastaCount</span></li>
            <li>Meat Count: <span id="meatCount">@Model.MeatCount</span></li>
            <li>Click Upgrade Level: <span id="clickCount">@Model.ClickUpgrade</span></li>
        </ul>
    </div>
</div>
<script src="~/Scripts/Lasanga/LiraControl.js"></script>